p, ul {
	font-size:120%
}
.remark-slide-content {
	font-size:120%
}
.remark-code-line {
  font-size:120%;
}

.mjx-chtml {
  font-size:120%;
}

.white {
	color: white;
}

.border {
	font-size: 140%; 
	border-style: solid; 
	border-width: 1px; 
	padding: 10px;
}

.tab {
	margin-left: 1em;
}